name: React Frontend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '25.2.1'
        cache: 'npm'

    - name: Install Dependencies
      run: npm install

    - name: Build Application
      run: npm run build
      
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-dist
        path: dist
        retention-days: 1
